asgiref==3.8.1 ; python_version >= "3.8" and python_version < "3.9"
backports-zoneinfo==0.2.1 ; python_version >= "3.8" and python_version < "3.9"
black==23.12.1 ; python_version >= "3.8" and python_version < "3.9"
certifi==2024.2.2 ; python_version >= "3.8" and python_version < "3.9"
charset-normalizer==3.3.2 ; python_version >= "3.8" and python_version < "3.9"
click==8.1.7 ; python_version >= "3.8" and python_version < "3.9"
colorama==0.4.6 ; python_version >= "3.8" and python_version < "3.9" and platform_system == "Windows"
dependency-injector==4.40.0 ; python_version >= "3.8" and python_version < "3.9"
django-extensions==3.2.3 ; python_version >= "3.8" and python_version < "3.9"
django==4.1.13 ; python_version >= "3.8" and python_version < "3.9"
djangorestframework-simplejwt==5.2.2 ; python_version >= "3.8" and python_version < "3.9"
djangorestframework==3.14.0 ; python_version >= "3.8" and python_version < "3.9"
factory-boy==3.2.1 ; python_version >= "3.8" and python_version < "3.9"
faker==24.7.1 ; python_version >= "3.8" and python_version < "3.9"
idna==3.6 ; python_version >= "3.8" and python_version < "3.9"
isort==5.13.2 ; python_version >= "3.8" and python_version < "3.9"
mypy-extensions==1.0.0 ; python_version >= "3.8" and python_version < "3.9"
packaging==24.0 ; python_version >= "3.8" and python_version < "3.9"
pathspec==0.12.1 ; python_version >= "3.8" and python_version < "3.9"
platformdirs==4.2.0 ; python_version >= "3.8" and python_version < "3.9"
pydantic==1.10.15 ; python_version >= "3.8" and python_version < "3.9"
pyjwt==2.8.0 ; python_version >= "3.8" and python_version < "3.9"
python-dateutil==2.9.0.post0 ; python_version >= "3.8" and python_version < "3.9"
pytz==2024.1 ; python_version >= "3.8" and python_version < "3.9"
requests==2.31.0 ; python_version >= "3.8" and python_version < "3.9"
six==1.16.0 ; python_version >= "3.8" and python_version < "3.9"
sqlparse==0.4.4 ; python_version >= "3.8" and python_version < "3.9"
tomli==2.0.1 ; python_version >= "3.8" and python_version < "3.9"
typing-extensions==4.11.0 ; python_version >= "3.8" and python_version < "3.9"
tzdata==2024.1 ; python_version >= "3.8" and python_version < "3.9" and sys_platform == "win32"
urllib3==2.2.1 ; python_version >= "3.8" and python_version < "3.9"
